

   <h1>Auburn Figures</h1>


   <h3>Sound Transit Station<br /> Auburn, WA </h3>


<IMG SRC="auburn/BalletViolDetail.jpg" > 
<h4>Funding Source: Auburn Art Commission </h4>
<BR /><BR /><BR /> 
 <IMG SRC="auburn/OldManWoman.jpg" > <BR /><BR /><BR /> 
 <IMG SRC="auburn/BusinessPerson.jpg" > <BR /><BR /><BR /> 
 <IMG SRC="auburn/auburnUniDog.jpg" > <BR /><BR /><BR /> 
 <IMG SRC="auburn/Skater.jpg" > <BR /><BR /><BR /> 

<BR /><BR /><BR /> 

