<% content_for :title do %>
  <title>Paul Sorey Public Art in Auburn, WA</title>
  <meta name='description' content='Paul Sorey's artwork guides visitors to Sound Transit train station.' >
<% end %>



