
 
   <h1>Coffee Pot Pergola</h1>

   <h3>Lake City Neighborhood<br /> Seattle, WA </h3>
   
   <br />

   <img src="coffeePot/coffeePot1screen.jpg">

   <h4>Funding Source: Seattle Office of Arts and Cultural Affairs & Seattle Department of Transportation</h4>
   
   <br /> 

   <div class='bold_text'>

    Lake City is a Seattle neighborhood known for its fast food venues, eclectic shops, car dealerships
    and fast-moving traffic.  Behind its flashy fa&ccedil;ade, however, lie deep ravines with native vegetation and
    salmon-bearing streams. Lake City also has a rich past as an idyllic retreat for weary urban dwellers.
    The artist imagined campers drinking coffee around a campfire at the artwork site where currently resides a
    bustling cafe. These and other real and imagined inspirations evolved in the
    mind's eye of the artist and resulted in this local landmark and outdoor eating venue.
    


   </div>
   
   <br />
   <br />   
   <br />
   <img src="coffeePot/coffeePot2screen.jpg">
   
   <br />
   <br />
   
   <div class='description_text'>
    
    The artist was part of Seattle Department of Transportation's Lake City Way Multi-Modal
    Improvements design team. He chose the site, worked with the design team to lay out paving and planting areas,
    and created construction drawings to incorporate into SDOT documents. The artist partnered with community leaders and
    residents to identify the best-loved aspects of the community and to evolve their expression. 

   <br />
   <br />
   <br />
   
   <img src="coffeePot/coffeePot3screen.jpg">

      
   <br />
   <br />
   
    The theme, a celebration of the cross-cultural social ritual of drinking hot beverages, comes from a desire to
    inspire togetherness among people of the many cultures in the neighborhood. Nearby cafes supply the needed beverages
    to make the space function as intended. The design process included neighbors from many cultures who provided
    handwritten samples of writing in their language that the artist transformed into welcoming words embedded in the paving.   
        
   </div>
   
   <br />
   <br />
   <br />
      
   <img src="coffeePot/coffeePot4screen.jpg">
      
   <br />
   <br />
   
   <div class='description_text'>

   </div>

   <br />
   <br />
   <br />
   
   <img src="coffeePot/coffeePotDetail1.jpg">
   
   <br />
   <br />
   <br />
   
   <div class='description_text'>   

    </div>

   <br />
   <br />
   <br />
