<% content_for :title do %>
  <title>Paul Sorey Public Art</title>
  <meta name='description' content="Contact Info, touch, email, cell, text" >
<% end %>

<% content_for :body_tag do %>

    <h1>Contact Info</h1>
    
    <h3>Paul Sorey<br /> West Seattle, WA </h3>
    <h3>paul@paulsorey.com</h3>

    <div class='photo_index'>

<img src="contact/paul_sorey_contact.png" >  

    </div>

    <br /><br /><br />
 <% end %>
   
    
