

   <h1>Tech Zone</h1>
   <h2>Software and Digital Hardware Projects</h2>
   <h3>Paul Sorey</h3>
   <br />
   <br />
   <br />


<div class='photo_index'>

  <A HREF="Developer/WebProjects"><IMG SRC="salmonLED/salmonLEDThumb.jpg"></A>
  <A HREF="Developer/WebProjects">Web Projects - Ruby on Rails</A><BR /><BR /><BR />

  <A HREF="Developer/3dModeling"><IMG SRC="salmonLED/salmonLEDThumb.jpg"></A>
  <A HREF="Developer/3dModeling">3d Modeling Software</A><BR /><BR /><BR />


  <A HREF="Developer/SalmonLED"><IMG SRC="salmonLED/salmonLEDThumb.jpg"></A>
  <A HREF="Developer/SalmonLED">Embedded Controller Design and Programming</A><BR /><BR /><BR />







</div>
