   <h1>Dogwood Flower Fountain</h1>


   <h3>Animal Acres Park<br /> Lake Forest Park, WA </h3>


<A> <IMG SRC="dogwood/DogwoodFountainScreen.jpg" > </A>

<h4>Funding source: Lake Forest Park Art Commission</h4>

<BR><BR><BR> <BR><BR><BR>


<A> <IMG SRC="dogwood/dogwoodDetailScreen.jpg" > </A><BR><BR><BR> <BR><BR><BR>
