<% content_for :title do %>
  <title>Paul Sorey Public Art</title>
  <meta name='description' content='Drinking fountain artwork refreshes walkers and their dogs at Animal Acres Park in Lake Forest Park, WA.' >
<% end %>  
   
<h1>Dogwood Flower Fountain</h1>
<h3>Animal Acres Park<br /> Lake Forest Park, WA </h3>

<a> <img src="dogwood/DogwoodFountainScreen.jpg" > </a>

<h4>Funding source: Lake Forest Park Art Commission</h4>
<br /><br /><br /><br /><br /><br /><br />

<a> <img src="dogwood/dogwoodDetailScreen.jpg" > </a>
<br /><br /><br /><br /><br /><br />
