<% content_for :title do %>
  <title>Paul Sorey Public Art</title>
  <meta name='description' content='Drinking fountain artwork refreshes walkers and their dogs at Animal Acres Park in Lake Forest Park, WA.' >
<% end %>  
   
<h1>Dogwood Flower Fountain</h1>
<h3>Animal Acres Park<br /> Lake Forest Park, WA </h3>

<img src="dogwood/DogwoodFountainScreen.jpg" > 

<h4>Funding source: Lake Forest Park Art Commission</h4>

<div class='bold_text'>
<br />
The City desired an ADA accessible drinking fountain for trail users and their pets.
They wanted the fountain to express the natural beauty of the park setting.
Sorey provided the concept of a dogwood flower, incorporated freeze-proof drinking
fountain parts into the sculpture, fabricated and installed the piece.  Sorey also
provided a planting plan and paving design with the fountain as centerpiece, which
the City Public Works Department implemented in-house.
<br /><br /><br /><br />
<img src="dogwood/dogwoodDetailScreen.jpg" >
<br /><br /><br />
