<% content_for :title do %>
  <title>Paul Sorey Public Art</title>
  <meta name='description' content='Two hundred choreographed paper flaps fill the space
    with a mysterious motion, as if induced by an intelligent breeze.' >
<% end %>  

   <h1>Flock</h1>

   <h3>Pacific Science Center<BR>Seattle, WA </h3>
   
   <br />

   <img src="flock/flock2small.jpg">

   <br />
   <br /> 

   <div class='bold_text'>
    The
    inspiration for <em>Flock</em> is my visceral response to groups of birds
    turning in unison. Two hundred choreographed flaps fill the space
    with a mysterious motion that travels from one end of
    the space to the other, as if induced by an intelligent breeze.
    This motion is enhanced by the faintly audible rustling of the
    tracing paper panels.
    </div>
   
   <br />
   <br />
   <br />
   
   <img src="flock/flock3small.jpg">
   
   <br />
   <br />
   
   <div class='description_text'>
    I am both fascinated and repelled by the idea of controlling
    so many individual objects, making them move according to my
    will. It seems somehow futile to even attempt such control, yet
    the paper flaps yield to this control and have done so without
    fail since 1995.

   <br />
   <br />
   <br />
   
   <img src="flock/flock4.jpg">
      

   
   <br />
   <br />
   <br />

   <div class='description_text'>   
    <em>Flock</em> is a kinetic environmental sculpture designed for the
    barrel-vaulted space at the Henry Art Museum in Seattle. Shown installed at
    Henry Art Gallery. Purchased by Pacific Science Center, Seattle, Washington,
    in 1995 for permanent display. Aluminum, paper, wood, digital electronics, step rotation motors.
    33' long x 5' wide x 16' high.

   </div>

   <br />
   <br />
   <br />