<% content_for :title do %>
  <title>Paul Sorey - Web Software Development</title>
  <meta name='description' content='Paul Sorey combines his artistic vision and his technical
    know-how to make beautiful websites that work.' >
<% end %>


<% content_for :body_tag do %>
  <body class="web_dev">
<% end %>


  <h1 style="font-size: 40px; " >Web-Based GIS Application </h1>
  <h3 style="font-style: italic; font-size: 24px; margin: 15px; "><a href='http://greenwood.streetscapes.org'>Greenwood.Streetscapes.org</a></h3>
  
  <h4> Paul Sorey <br /> Seattle, WA </h4>
  <br />
   

  
    <a href='http://greenwood.streetscapes.org/theme_maps/walking-paths-survey'><img src="web-developer/map1.jpg"></a>

  <div class='caption' style="width: 550px;">
      <p>
      For 'Walking Paths Survey' each resident marks the routes, and estimated number of trips per month, to destinations that they walk to. This data will be used in planning several new paved paths from east to west and north to south.
    </p>
  </div>  

  <br />

 <img src="web-developer/ThemeMap_plain.png">
  <div class='caption' style="width: 400px;">
    <p>
      What's happening in Theme Maps...
    </p>
  </div>    
  
  <br />


<br />
<br />
<br />
<br />
<br />
<br />

