<h1>Flower-Like Sculptures</h1>

<br /><br />
<img src="flowers/delicateFlower.jpg" >
<br />
<div class='description_text'>

<u>Delicate Flower</u>. 2001. <br />
Polyester resin, steel wire, steel.<br />
7 feet tall. <br /><br /><br />


<img src="flowers/bluebell2.jpg" >
<br />
<u>Bluebell</u>. 2001. <br />
Copper, wire, solder, steel, blue LED lights. <br>
Mounted on wall at head level. 24&quot; high x 18&quot; wide x
30&quot; deep.<br /><br /><br />


<img src="flowers/horn1.jpg" >
<br />
<u>Flowering Structure</u>. <br />
Woodinville City Hall, Woodinville, WA, 2000-2001. <br />
Stainless steel, mild steel. <br />
3-D computer software<br> created by the artist is used to<br />
design and fabricate these forms.<br />
8' tall by 10' long.

</div>