

   <h1>Paul Sorey</h1>
   <h2>Public Artworks</h2>
   <br />
   <br />
   <br />


<div class='photo_index'>

   <A HREF="SalmonWaves"><IMG SRC="salmonWaves/locksThumb.jpg"></A>
   <A HREF="SalmonWaves">Salmon Waves</A><BR /><BR /><BR />
   
   <A HREF="FractalTreeArchway"><IMG SRC="skagit/skagit_3002_thumb.png"</A>
   <A HREF="FractalTreeArchway">Fractal Tree Archway</A><BR /><BR /><BR />
   
   <A HREF="RoadWorks"><IMG SRC="pierceCo/pierce_Thumb.jpg"></A>
   <A HREF="RoadWorks">RoadWorks</A><BR /><BR /><BR />
   
   <A HREF="Flock"><IMG SRC="flock/flockThumb.jpg"</A>
   <A HREF="Flock">Flock</A><BR /><BR /><BR />
   
   <A HREF="CoffeePotPergola"><IMG SRC="coffeePot/coffeePotThumb.jpg"</A>
   <A HREF="CoffeePotPergola">Coffee Pot Pergola</A><BR /><BR /><BR />
   
   <A HREF="TreeBench"><IMG SRC="treeBench/treeBenchThumb.jpg"</A>
   <A HREF="TreeBench">Tree Bench</A><BR /><BR /><BR />

   <A HREF="JusticeGardenPath"><IMG SRC="rjc/rjcThumb.jpg"></A>
   <A HREF="JusticeGardenPath">Justice Garden Path</A><BR /><BR /><BR />
 
   <A HREF="CribbageBenches"><IMG SRC="cribbage/cribbageBenchesThumb.jpg"</A>
   <A HREF="CribbageBenches">Cribbage Benches</A><BR /><BR /><BR />
   
   <A HREF="PacificFountain"><IMG SRC="pacific/pacificFountainThumb.jpg"</A>
   <A HREF="PacificFountain">Pacific Fountain</A><BR /><BR /><BR />
   
   <A HREF="DogwoodFountain"><IMG SRC="dogwood/dogwoodDetailThumb.jpg"</A>
   <A HREF="DogwoodFountain">Dogwood Flower Fountain</A><BR /><BR /><BR />
   
   <A HREF="AuburnFigures"><IMG SRC="auburn/businessPersonThumb.jpg"</A>
   <A HREF="AuburnFigures">Auburn Figures</A><BR /><BR /><BR />
   
   <A HREF="SustainabilityArtwork"><IMG SRC="sustainability/sustain.jpg"></A>
   <A HREF="SustainabilityArtwork">Sustainability Award</A><BR /><BR /><BR />
   
   <A HREF="LongfellowCreek"><IMG SRC="longfellow/longfellowThumb.jpg"></A>
   <A HREF="LongfellowCreek">Longfellow Creek Gateways</A><BR /><BR /><BR />
   
   <A HREF="FlowerSculpture"><IMG SRC="flowers/delicateFlowerThumb.jpg"></A>
   <A HREF="FlowerSculpture">Flower Sculptures</A><BR /><BR /><BR />

</div>
