<% content_for :title do %>
  <title>Paul Sorey Public Art</title>
  <meta name='description' content='A garden path braided with a formal walk provides a peaceful respite.' >
<% end %>  
   <h1>Justice Garden Path</h1>

   <h3>King County Regional Justice Center<br /> Kent, WA </h3>
    <h3>Front Entry Artwork</h3>
   
    <h3>Artists: Paul Sorey and Lorna Jordan </h3>
  
   <br />

   <img src="rjc/rjc1.jpg">

   <h4>Funding Source: 4 Culture of King County</h4>
   
   <br /> 

   <div class='bold_text'>
        Through the braided form of intertwining 'wild' and 'tame' paths we expressed
        the legal system's role in maintaining balance between
        unrestricted freedom and the need for orderly conduct.
   </div>
   
   <br />
   <br />
   <br />
   
   <img src="rjc/rjcPlanSmall.jpg">
   
   <br />
   <br />
   
   <div class='description_text'>
        The artwork makes a welcoming gesture to the City of Kent and people who pass by
        the facility, and provides a peaceful place to rest. The garden
        element makes it an ever-changing experience for the people who
        use the space regularly.
   </div>
   
   <br />
   <br />
   <br />
   
   <img src="rjc/rjcOrthoSmall.jpg">
      
   <br />
   <br />
   
   <div class='description_text'> 

   </div>
   
   <br />
   <br />
   <br />
      
   <img src="rjc/rjc2small.jpg">
      
   <br />
   <br />
   
   <div class='description_text'>

   </div>


   <br />
   <br />
   <br />
