<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
  <%= yield_content :title %>
  <link rel="stylesheet" type="text/css" href="mystyle.css" />
  <%= yield_content :head %>
</head>

  <%= yield_content :body_tag %>
<!-- <body> -->

<div class='menu'>
  <ul id="navbar">
    <li id="home">        <a href="/">&gt;&nbsp;&nbsp;Home</a></li>
    <li id="locations">   <a href="ArtworkLocations">&gt;&nbsp;&nbsp;Artwork Locations</a>
    <li id="art_resume">  <a href="./SoreyResume.pdf">&gt;&nbsp;&nbsp;Resum&eacute;</a>
    <li id="tb_video">    <a href="TreeBenchVideo">&gt;&nbsp;&nbsp;<em>Tree Bench</em> Video</a>
    <li id="contact">     <a href="mailto:paul@paulsorey.com">&gt;&nbsp;&nbsp;Contact</a></li>
    <br />
    <li id="web_dev">     <a href="WebDeveloper">&gt;&nbsp;&nbsp;Web Dev</a></li>
  </ul>
</div>

<div class='content'>
 
<%= yield %>
      
</div>

   <!-- Start of StatCounter Code -->
   
   <script type="text/javascript">
   var sc_project=6628261; 
   var sc_invisible=1; 
   var sc_security="a9fce7d5"; 
   </script>
   
   <script type="text/javascript"
   src="http://www.statcounter.com/counter/counter.js"></script><noscript><div
   class="statcounter"><a title="weebly statistics"
   href="http://statcounter.com/weebly/" target="_blank"><img
   class="statcounter"
   src="http://c.statcounter.com/6628261/0/a9fce7d5/1/"
   alt="weebly statistics" ></a></div></noscript>
   <!-- End of StatCounter Code -->

</body>
</html>
