<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <%= yield_content :title %>
  
  <link rel="stylesheet" type="text/css" href="mystyle.css" />
  <%= yield_content :head %>
</head>
  <%= yield_content :body_tag %>
<!-- <body> -->
<div class='menu'>
  <ul id="navbar">
    <li id="home">          <a href="/"> Public Art </a></li>
    <li id="web_dev">       <a href="WebDeveloper"> Web  <br /> Development </a></li>
    <li id="software_dev">  <a href="SoftwareDeveloper"> Software &amp; <br /> Hardware <br /> Development</a></li>
    <li id="none">          <a href="web-developer/paul_sorey_software_resume.pdf"> Developer <br /> Resume </a></li>
    <li id="contact">       <a href="mailto:paul@paulsorey.com"> Contact </a></li>
    
  </ul>
</div>

<div class='content'>
      <%= yield %>
</div>

   <!-- Start of StatCounter Code -->
   
   <script type="text/javascript">
   var sc_project=6628261; 
   var sc_invisible=1; 
   var sc_security="a9fce7d5"; 
   </script>
   
   <script type="text/javascript"
   src="http://www.statcounter.com/counter/counter.js"></script><noscript><div
   class="statcounter"><a title="weebly statistics"
   href="http://statcounter.com/weebly/" target="_blank"><img
   class="statcounter"
   src="http://c.statcounter.com/6628261/0/a9fce7d5/1/"
   alt="weebly statistics" ></a></div></noscript>
   <!-- End of StatCounter Code -->

</body>
</html>
