<% content_for :title do %>
  <title>Paul Sorey Public Art</title>
  <meta name='description' content='Paul Sorey creates public artwork that engages visitors and enlivens public spaces.' >
<% end %>  

<h1>Longfellow Creek Trail
<br />
Gateways and
Benches</h1>

<h3>
Paul Sorey, and Pomegranate Center,<BR>
with Delridge Neighborhood Development Association<BR>
and the West Seattle community <BR>        
</h3>

<IMG SRC="longfellow/longfellow1Mscreen.jpg" ><BR><BR>

<div class='description_text'>
   
Twelve gateways have been installed where Longfellow Creek Trail crosses major streets.
Design of the concrete tile inserts is unique to each neighborhood the trail passes through.  
Imagery is inspired by local flora and fauna, and created by local residents at workshops led by the artist. 

<br /><br />

Sorey, in collaboration with Pomegranate Center, designed and fabricated 
the gateway posts and led community workshops for making concrete inserts. Participants 
sculpted clay to create bas-relief shapes and textures in concrete, poured concrete
into forms, and helped install the tiles.

<br /><br /><br />

<IMG SRC="longfellow/longfellowBenchScreen.jpg" "  

<br /><br /><br />

Stainless steel and concrete benches with plant and animal
imagery are placed along the trail.

<br /><br /><br />

</div>


