
$lt_green: #99dd88;
$lt_lt_green: #aadd99;
$dk_green: #449944;
$bg_color: #222222;

$border_intensity: #151515;
$border_highlight_intensity: #333333;

$transition_time: 260ms;

$border_shadow: $bg_color - ($border_intensity / 1.5);
$border_light: $bg_color + $border_intensity;



/*
@font-face {
  font-family: "Junction";
  src: local("!"),
    url("Junction 02.otf") format("opentype");
}
*/


/* @font-face {
  font-family: "Droid Serif";
  src: local("!"),
    url("DroidSerif.ttf) format("truetype";
}
*/


body {
  /*  font-family:"Junction","Times New Roman", Times, serif; */
  /*  font-family:"Droid Serif","Times New Roman", Times, serif; */
    font-family: 'Droid Serif',"Times New Roman", Times, serif; 
    text-shadow: 2px 2px 2px #000;
    color: $lt_green;
    background-color: $bg_color;
    width:99%;
    padding-top: 20px;
    margin-top: 15px;

}



div.menu
{
  position:fixed;
  top:50px;
  left:30px;    

  /*float:left;
  width:160px;*/
  margin:0px;
  padding: 0px;
  font-size: 16px;
}


div.content
{
    margin-top: 0px;
    padding-top: 0px;
  /*margin-left:128px;*/
}

img {
  margin-left:auto;
  margin-right:auto;
  display: block;
  border: solid;
  border-width: 8px;
  border-color: #000000;
  border-left-color: $border_shadow;
  border-top-color: $border_shadow;
  border-right-color: $border_light;
  border-bottom-color: $border_light;
}

a {
  -moz-user-focus: none;
  outline: none;
}
a:active {
 outline: none;
}

a img {
  margin-left:auto;
  margin-right:auto;
  border-color: #000000;
  border-width: 7px;
  margin-bottom: 8px;
  
  border-left-color: $border_shadow;
  border-top-color: $border_shadow;
  border-right-color: $border_light;
  border-bottom-color: $border_light;
  
  -webkit-transition: all $transition_time ease-in-out;
  -moz-transition: all $transition_time ease-in-out;
  -o-transition: all $transition_time ease-in-out;
  -ms-transition: all $transition_time ease-in-out;
  transition: all $transition_time ease-in-out;
}

a {
  color: $dk_green;
  text-decoration: none;
    
  -webkit-transition: all $transition_time ease-in-out;
  -moz-transition: all $transition_time ease-in-out;
  -o-transition: all $transition_time ease-in-out;
  -ms-transition: all $transition_time ease-in-out;
  transition: all $transition_time ease-in-out;
}

a.info{
  text-decoration: underline;
}

a:link      { color: $dk_green; }

a:hover img {
  /*border-color: $lt_green;*/
  border-width: 7px;
  
  border-left-color: $border_shadow /*- $border_highlight_intensity*/;
  border-top-color: $border_shadow /*- $border_highlight_intensity*/;
  border-right-color: $border_light + $border_highlight_intensity;
  border-bottom-color: $border_light + $border_highlight_intensity;
  
  box-shadow: 0 0 100px 100px #333333;
  
  -webkit-transition: all $transition_time ease-in-out;
  -moz-transition: all $transition_time ease-in-out;
  -o-transition: all $transition_time ease-in-out;
  -ms-transition: all $transition_time ease-in-out;
  transition: all $transition_time ease-in-out;
} 

a:hover     { color: $lt_green; }

#map_canvas {
    margin-left:auto;
    margin-right:auto;
    display: block;
    border: solid;
    border-width: 8px;
    border-color: #000000;
    height: 500px;
    width: 400px;
}

div.info {
    color: #000000;
    font-size: 14px;
}

div .block_text {
  width: 600px;
  margin-left:auto;
  margin-right:auto;
  color: $lt_lt_green;
  font-size: 16px;
}

h1 {
    color: $dk_green;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5px;
    margin-top: 0px;
    margin-left:auto;
    margin-right:auto;
}

h2 {
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 5px;
    margin-left:auto;
    margin-right:auto;
}

h3 {
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

h4 {
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 4px;
}

div.bold_text {
    margin-left:auto;
    margin-right:auto;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    font-style: italic;
    width: 60%;
}

div.description_text {
    margin-left:auto;
    margin-right:auto;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    width: 60%;
}

div.caption {
    margin-left:auto;
    margin-right:auto;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    width: 60%;
    font-style: italic;
}

div.photo_index {
    margin-left:auto;
    margin-right:auto;
    font-size: 26px;
    font-weight: lighter;
    text-align: center;
    text-decoration: none;
    font-style: italic;
    width: 600px;    
}

