/* @font-face {
  font-family: "Droid Serif";
  src: local("!"),
    url("DroidSerif.ttf) format("truetype";
}
*/
body {
  /*  font-family:"Droid Serif","Times New Roman", Times, serif; */
  font-family: 'Droid Serif',"Times New Roman", Times, serif;
  text-shadow: 2px 2px 2px #000;
  color: #99dd88;
  background-color: #222222;
  width: 99%;
  padding-top: 20px;
  margin-top: 15px; }

div.menu {
  position: fixed;
  top: 50px;
  left: 30px;
  margin: 0px;
  padding: 0px;
  font-size: 16px; }

div.content {
  margin-top: 0px;
  padding-top: 0px; }

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: solid;
  border-width: 7px;
  border-color: #000000;
  border-left-color: #141414;
  border-top-color: #0f0f0f;
  border-right-color: #373737;
  border-bottom-color: #484848; }

a {
  -moz-user-focus: none;
  outline: none; }

a:active {
  outline: none; }

a img {
  margin-left: auto;
  margin-right: auto;
  border-color: #000000;
  border-width: 7px;
  margin-bottom: 8px;
  border-left-color: #141414;
  border-top-color: #0f0f0f;
  border-right-color: #373737;
  border-bottom-color: #484848;
  -webkit-transition: all 260ms ease-in-out;
  -moz-transition: all 260ms ease-in-out;
  -o-transition: all 260ms ease-in-out;
  -ms-transition: all 260ms ease-in-out;
  transition: all 260ms ease-in-out; }

a {
  color: #449944;
  text-decoration: none;
  -webkit-transition: all 260ms ease-in-out;
  -moz-transition: all 260ms ease-in-out;
  -o-transition: all 260ms ease-in-out;
  -ms-transition: all 260ms ease-in-out;
  transition: all 260ms ease-in-out; }

a.info {
  text-decoration: underline; }

a:link {
  color: #449944; }

a:hover img {
  /*border-color: $lt_green;*/
  border-width: 7px;
  border-left-color: #141414;
  border-top-color: #030303;
  border-right-color: #6a6a6a;
  border-bottom-color: #8c8c8c;
  box-shadow: 0 0 100px 100px #333333;
  -webkit-transition: all 260ms ease-in-out;
  -moz-transition: all 260ms ease-in-out;
  -o-transition: all 260ms ease-in-out;
  -ms-transition: all 260ms ease-in-out;
  transition: all 260ms ease-in-out; }

a:hover {
  color: #99dd88; }

#map_canvas {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: solid;
  border-width: 8px;
  border-color: #000000;
  height: 500px;
  width: 400px; }

div.info {
  color: #000000;
  font-size: 14px; }

div .block_text {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #aadd99;
  font-size: 16px; }

h1 {
  color: #449944;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 5px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto; }

h2 {
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto; }

h3 {
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

h4 {
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px; }

div.bold_text {
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
  font-style: italic;
  width: 60%; }

div.description_text {
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  width: 60%; }

div.caption {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  width: 60%;
  font-style: italic; }

div.photo_index {
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  font-weight: lighter;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  width: 600px; }
  div.photo_index a {
    padding-bottom: 0px;
    margin-bottom: 0px; }
  div.photo_index p {
    height: 45px;
    vertical-align: bottom;
    padding-bottom: 0px;
    margin-bottom: 0px; }

#navbar li {
  list-style: none;
  padding: 7px;
  position: relative;
  left: -48px; }

#navbar a:hover,
.home #navbar #home a,
.web_dev #navbar #web_dev a,
.software_dev #navbar #software_dev a,
.contact #navbar #contact a,
.locations #navbar #locations a,
.tb_video #navbar #tb_video a {
  color: #ffa; }
