
/* type-metal style */

$lt_green: #77cc77;
$lt_green: #bbb;
$dk_green: #555;

$bg_color: #222222;

$border_intensity: #151515;
$border_highlight_intensity: #333333;

$transition_time: 250ms;

$border_shadow: $bg_color - ($border_intensity / 1.5);
$border_light: $bg_color + $border_intensity;


/*
@font-face {
  font-family: "Junction";
  src: local("!"),
    url("Junction 02.otf") format("opentype");
}
*/


/* @font-face {
  font-family: "Droid Serif";
  src: local("!"),
    url("DroidSerif.ttf) format("truetype";
}
*/


body {
  /*  font-family:"Junction","Times New Roman", Times, serif; */
  /*  font-family:"Droid Serif","Times New Roman", Times, serif; */
    font-family: 'Droid Serif',"Times New Roman", Times, serif; 
    text-shadow: 2px 2px 2px #000000, -2px -2px 2px #ffffcc;
   
    color: $lt_green;
    background-color: $bg_color;
    width:99%;
    padding-top: 20px;
    margin-top: 15px;
}
