<% content_for :title do %>
  <title>Paul Sorey Public Art</title>
  <meta name='description' content='Pacific, Washington's City Hall artwork.' >
<% end %>  

   <h1>Pacific Fountain</h1>

   <h3>City Hall<br /> Pacific, WA </h3>

<img src="pacific/pacific1Screen.jpg" >  
<h4>Funding Source: 4Culture</h4>

<div class='bold_text'>
<br />
Pacific Fountain is situated at the entrance to City Hall in the small-but-proud town of Pacific, Washington.
Because this artwork was the City of Pacific’s first experience with public art, Sorey interviewed long-term residents,
mingled with citizens at civic events, and researched the City's history, to discover a concept or theme that
would engender a positive response from local residents, and would derive inspiration from the City's rich history.   
<br /><br /><br />
</div>

<img src="pacific/pacificBenchScreen.jpg" >  <br /><br />

<div class='description_text'>
The pea-pod benches and squash-blossom fountain respond to Pacific's agricultural heritage and bountiful water supply.
The gathering space itself expresses the importance of the city’s most valuable resource: the community of its residents.
</div>

<br /><br />
<img src="pacific/pacificFountain.jpg" > <br /><br /><br /> <br /><br /><br />

