<% content_for :title do %>
  <title>Paul Sorey Public Art</title>
  <meta name='description' content='Paul Sorey creates public artwork that engages visitors and enlivens public spaces.' >
<% end %>  

   <h1>Pacific Fountain</h1>

   <h3>City Hall<br /> Pacific, WA </h3>

<A> <IMG SRC="pacific/pacific1Screen.jpg" > </A><BR><BR><BR> <BR><BR><BR>
<A> <IMG SRC="pacific/pacificBenchScreen.jpg" > </A><BR><BR><BR> <BR><BR><BR>
<A> <IMG SRC="pacific/pacificFountain.jpg" > </A><BR><BR><BR> <BR><BR><BR>

