<% content_for :title do %>
  <title>Paul Sorey Public Art</title>
  <meta name='description' content='Hanging kinetic artwork modeling a transportation network, with no moving parts.' >
<% end %>  

   <h1>RoadWorks</h1>

   <h3>Pierce County Road Operations<br />Central Maintenance Facility<br />Spanaway, WA</h3>
   
   <br />

   <img src="pierceCo/roadworks1.jpg">

   <h4>Funding Source: Pierce County Art Commission</h4>
   
   <br /> 

   <div class='bold_text'>
    This kinetic artwork, with no moving parts, hangs in the entrance lobby atrium of 
    a new Pierce County Public Works Facility. The sculpture is an abstraction of a roadway system
    with side streets and arterials. LED-lit translucent boxes glow in sequence to convey the motion
    of vehicles along the roads.
    
   </div>
   
   <br />
   <br />
   <br />
   
   <img src="pierceCo/roadworks2.jpg">
   
   <br />
   <br />
   
   <div class='description_text'>
    
    A randomly varying number of vehicles is present on the system at one time, and each vehicle has
    its own behavior which the viewer can appreciate over time. 


   <br />
   <br />
   <br />
   
   <img src="pierceCo/roadworks3.jpg">
      
   <br />
   <br />
   

   </div>
   
   <br />
   <br />
   <br />
      
   <img src="pierceCo/roadworks4.jpg">
      
   <br />
   <br />
   
   <div class='description_text'>

   </div>


   <br />
   <br />
   <br />
 