<% content_for :title do %>
  <title>Paul Sorey can make things work with digital electronics!</title>
  <meta name='description' content='Paul Sorey combines his artistic vision and his technical
    know-how to make beautiful websites that work.' >
<% end %>

      <h1>Rain Drums</h1>
      <h4>Technical Design, Fabrication and Installation<br />
      for Artist Dan Corson and <br />Seattle Office of Arts and Cultural Affairs</h4>
   <br />
  

   <br />
   <br />
   
  <div class='bold_text' style='width: 620px;'>
    People come from <br />all parts to see the <br />Rain Drums. 
  </div>
  
    <br />
    <br />
    <br />

   <img src="web-developer/two_drums.jpg">
   
     <div class='caption' style="width: 590px;">
    
    <p>
        The system deals with <br />freezing weather, high winds, <br />soil, water and electricity,<br />
        a combination that tests the <br />robustness of the design. 
    </p>
    
    </div>
     
   <br /> 
   <br />


   <img src="web-developer/midi5screen.jpg">
   
   
   <div class='caption'>
       <p> 

    </p>
   
   <br />
   <br />

   
  </div>
  
   <img src="web-developer/controller_guts_small.jpg">

   <div class='caption'>      
    <p>

    </p>
  </div>

   <br />
   <br />

   
   <img src="web-developer/flowChartdetail.jpg">
   
   <div class='caption'>   
        <p>

        </p>
    </div> 
    
    <br />
    <br />
    

  
  <div class='block_text'>
    <p>

    </p>
    <p>

    </p>
    <p>

    </p>
  <br />
  <br />

  </div>
  <br />
  <br />
  <br />