<% content_for :title do %>
  <title>Paul Sorey - Rain Drums at Cedar River - Digital / Mechanical System Design and Implemetation.</title>
  <meta name='description' content='Paul Sorey - System design and implementation of Rain Drums at Cedar River Visitor Education Center near North Bend, WA ' >
<% end %>

  <h1>Rain Drums</h1>
  <h3>Cedar River Watershed<br />Visitor Education Center</h3>
  <br />
  
  <h4> Technical Design, <br />
  Fabrication and Installation <br />
  for Artist Dan Corson <br />
  and <br />
  Seattle Office of Arts <br />
  and Cultural Affairs </h4>
   
  <br />
  <br />
  <br />
   
  <div class='bold_text' style='width: 620px;'>
    People come from all parts<br /> to see the Rain Drums. 
  </div>
  
    <br />
    <br />
    <br />

  <img src="web-developer/two_drums.jpg">
   
  <div class='caption' style="width: 590px;">
    <p>
      The system deals with <br />freezing weather, high winds, <br />soil, water and electricity,<br />
      a combination that tests the <br />robustness of the design. 
    </p>
  </div>
     
  <br /> 
  <br />
  <br />

  <img src="web-developer/midi5screen.jpg">
   
  <div class='caption'>
  <p> 
     Two-sided PCB designed with Eagle Printed Circuit Board Design software.
  </p>
   
  <br />
  <br />
  <br />
   
  </div>
  
   <img src="web-developer/controller_guts_small.jpg">

   <div class='caption'>      
    <p>
      High-side switches keep the solenoid valves at zero potential unless activated, minimizing corrosion. A remote
      temperature sensor signals the water system to winterize: shut down and drain when temperature is near freezing. A power
      outage signals a switch to battery power, initiates winterization sequence, then power off.
    </p>
  </div>

  <br />
  <br />
  <br />
   
  <img src="web-developer/flowChartdetail.jpg">

  <div class='caption'>   
    <p>
      See the code that runs the controller at <a  href="https://gist.github.com/1291805" >Github </a>
    </p>
  </div> 
    
  <br />
  <br />
  <br />   

  <div class='block_text'>
    <p>

    </p>
    <p>

    </p>
    <p>

    </p>
  <br />
  <br />

  </div>
  <br />
  <br />
  <br />