<% content_for :title do %>
  <title>Paul Sorey Artist - 3-D Software Developer</title>
  <meta name='description' content='Paul Sorey wrote 3-D roadway alignment software that enables landscape architects to take the lead in highway alignment design.' >
<% end %>

<% content_for :body_tag do %>
  <body class="software_dev">
<% end %>

      <h1>RoadWorks</h1>
      <h3>Highway Design Software<br /> for Landscape Architects</h3>
   <br />
      <h4>Concept &amp; <br />Implementation<br /> by<br />Paul Sorey </h4>

   <br />
   <br />
   
  <div class='bold_text' style='width: 620px;'>
    RoadWorks is a 3-D interactive application that encapsulates the mathematics and
    engineering standards of roadway design, allowing the designer to focus on practical
    and aesthetic issues while manipulating a centerline alignment with the mouse. 
  </div>
  
    <br />
    <br />
    <br />

   <img src="web-developer/roadworks1screen.jpg">
   
     <div class='caption' style="width: 590px;">
    <p>
         Screenshot showing RoadWorks 3-D model of four-lane divided highway with cut and fill
         slopes and retaining walls tying the road to existing grade.  The user can quickly create
         a 3-D model of the road and place it into a landscape model.  The user can then assess
         the design visually from any angle, create presentation graphics, superimpose the roadway
         on a photograph of the existing terrain for before-and-after simulations, and produce a
         video of a drive along the road.
    </p>
     </div>
     
   <br /> 
   <br />


   <img src="web-developer/roadworks2screen.jpg">
   
   
   <div class='caption'>
       <p> 
      Screenshot showing RoadWorks' horizontal alignment editor.  The curve editing tool is
      pre-programmed to keep the alignment within design criteria set by highway agencies
      for maximum degree of curve. The topographic contours are color-coded by elevation
      to assist in visualization of the landscape; aerial photos can also be added to the view.
      The curves can be of either circular or spiral type. Spiral curves, because of their
      complexity are avoided by roadway engineers but are useful in sensitive landscapes because
      of their gentle transitions from tangent to curve.
    </p>
   
   <br />
   <br />

   
  </div>
  
   <img src="web-developer/roadworks3screen.jpg">

   <div class='caption'>      
    <p>
      Screen shot of vertical alignment view showing proposed vertical alignment showing slope and K-values.
      Profile of existing grade along the horizontal alignment is shown in grey.  Vertical curves are
      always parabolic curves and usually have unequal sides. Design parameters
      such as K-value, slope and visibility distances are pre-programmed into the alignment editor
      and alert the user when overstepped.
    </p>
  </div>

   <br />
   <br />

   
   <img src="web-developer/roadworks4screen.jpg">
   
   <div class='caption'>   
        <p>
        Screen shot of section editor showing proposed roadway cross-section including cut and fill
        slopes tying road to existing grade.  Existing grade is shown in brown.
        Once horizontal and vertical alignments and cross-sections have been input,
        a 3-D model of the road can be created.
        </p>
    </div> 
    
    <br />
    <br />
    

  
  <div id="roadworks_purpose" class='block_text'>
    <!-- <p>
      Landscape architecture and planning firms are interested in highway design, yet experience may have
      taught them that transportation engineers 
      because artfully integrating esthetics, experience, transitions to existing landscape, and lessen the
      ecological and visual character and because there are very large
      design budgets in highway projects.  <em>RoadWorks</em> provides a way for these firms to take the
      design lead in highway projects.
    </p> -->
    <p>
     <!--     Highway construction in visually and culturally sensitive areas requires a landscape architect's  -->
      
      Highway design is generally viewed as the domain of civil engineering firms.  A few landscape architecture
      design firms, such as Jones &amp; Jones in Seattle, have shown there are aesthetic, ecological,
      social, and cost benefits to having landscape architects as design leads on
      highway projects.   <em>RoadWorks</em> plays a key role in enabling Jones &amp; Jones to enter the
      discussion with a leading role in exploring and illustrating alternative alignments.
    </p>
    <p>
      The function and user interface of  <em>RoadWorks</em> has been developed and refined while using
      it on visually and ecologically sensitive highway projects including Paris Pike, twelve miles
      of new highway in rural Kentucky, and US 93, 50 miles of new highway in western Montana.
      Both of these projects won awards for the beauty and sensitivity of their design and for
      their ground-breaking collaboration between landscape architects and civil engineers.  
    </p>
  <br />
  <br />
  <p>
       <a href ='http://www.asla.org/meetings/awards/awds01/ushighway.html'>J&amp;J ASLA Award for US 93</a>
    </p>
    <p>
       <a href = 'http://www.asla.org/meetings/awards/awds02/parislexroad.html'> J&amp;J ASLA Award for Paris Pike </a>
    </p>
    <p>
       <a href = 'http://www.djc.com/special/landscape98/10037856.htm'> J&amp;J Writeup in <em> Daily Journal of Commerce </em> </a>
    </p>
  </div>
  <br />
  <br />
  <br />