<% content_for :title do %>
  <title>Paul Sorey Public Art</title>
  <meta name='description' content='Paul Sorey creates public artwork that engages visitors and enlivens public spaces.' >
<% end %>

   <h1>Fractal Tree Archway</h1>

   <h3>Skagit Valley College <br /> Mount Vernon, WA </h3>
   
   <br />

   <img src="skagit/skagit_3070.png">

   <h4>Funding Source: Washington State Arts Commission & Skagit Valley College</h4>
   
   <br /> 

   <div class='bold_text'>
      &quot;I am fascinated by the branching structure of trees, found throughout nature, 
      by the many roles of trees in ecosystems, and by their symbolic, psychological
      and space-creating significance to humans.&quot;     
   </div>
   
   <br />
   <br />
   <br />
   
   <img src="skagit/skagit_3081.png">
   
   <br />
   <br />
   
   <div class='description_text'>
      &quot;The branching of trees, and of other natural systems such as rivers and blood vessels,
      is a fundamental organizing principle in nature that fascinates me.
      Such branching structures are also fractals, a mathematical concept that also underlies many forms in nature.
      These particular trees are mathematically generated fractals: each part of the tree is an identical copy of the other parts,
      scaled and rotated in space.&quot;  

   <br />
   <br />
   <br />
   
   <img src="skagit/skagit_3002.png">
      
   <br />
   <br />
   
      To design the trees Sorey devised a modeling algorithm that allowed him to experiment with fractal
      branching patterns
      and see the results in a 3-D computer model. He tested different branch lengths, branching angles,
      and scale factors to see which ones resulted in a tree form that appeared natural,
      and that provided a canopy that would form a pleasing archway across the sixteen-foot sidewalk.
   </div>
   
   <br />
   <br />
   <br />
      
   <img src="skagit/skagit_3089.png">
      
   <br />
   <br />
   
   <div class='description_text'>
      Once the fractal pattern was decided, Sorey used software of his own invention
      to calculate the sizes and shapes of individual pieces that would be cut and assembled
      to build the actual trees in stainless steel.
   </div>

   <br />
   <br />
   <br />
   
   <img src="skagit/skagit_people.png">
   
   <br />
   <br />
   <br />
   
   <div class='description_text'>   
      Installed in 2010, <em> Fractal Tree Archway </em> creates an arched entry space for both the new
      Angst Hall Health Sciences Building and the central quadrangle of the Skagit Valley College campus.
      Visible from College Way, the the artwork's scale is large enough to
      complement the building.
      The space between the trees and under their canopy is of
      pedestrian scale so the artwork serves as a bridge between the size of a person
      and the monumental scale of the building.
   </div>

   <br />
   <br />
   <br />

