<% content_for :title do %>
  <title>Paul Sorey writes 3-D software and makes embedded control devices.</title>
  <meta name='description' content='Paul Sorey combines his artistic vision and his technical
    know-how to make useful tools for artists and designers.' >
<% end %>

<% content_for :body_tag do %>
  <body class="software_dev">
<% end %>

  <h1 style="font-size: 40px;"> Art + Logic </h1>
  
  <h3 style="font-style: italic; font-size: 20px; margin: 15px; "> Software and Hardware <br /> Development </h3>
  
  <h4> Paul Sorey <br /> Seattle, WA </h4>
  <br />
   
   <div class='bold_text' style='width: 550px;'>
     
      &quot;I lacked good grasp of English grammar until I studied Spanish. Similarly, alternating between
      machine code, C++, and Ruby, I get a better grasp of the 'meta' of computer language.&quot;
      

   </div>
  <br />
<div class='photo_index'>

  <p>
    <a class="photo_index" href="RoadDesignSoftware">RoadWorks Design Software</a>
  </p>
  <a href="RoadDesignSoftware"><img src="web-developer/roadworks1thumb.jpg"></a>
  
    <h4 style='width:420px; bottom-margin: 50px'>
      RoadWorks is a 3-D interactive application that encapsulates the mathematics and
      engineering standards of roadway design, allowing the designer to focus on practical
      and aesthetic issues while manipulating a centerline alignment using the mouse as a
      drawing tool.
    </h4>


  <p>
    <a class="photo_index" href="RainDrums">Rain Drums</a>
  </p>
    <a href="RainDrums"><img src="web-developer/drip_plan.jpg"></a>
   
    <h4 style='width:400px; bottom-margin: 30px'>
    Technical design, fabrication and installation of digitally-controlled water drip
    system to make rhythms. Converts MIDI files to serial signals at the controller which turns on and off
    solenoid valves to create rhythmical drops of water, and winterizes the system in freezing weather
    </h4>


  
</div>

<br />
<br />
<br />
<br />
<br />
<br />

