<% content_for :title do %>
  <title>Paul Sorey Public Art</title>
  <meta name='description' content='Interactive artwork that presents arguments for sustainable choices in a portable display.' >
<% end %>

   <h1>Sustainability Artwork</h1>

   <h3>Seattle, WA </h3>
   
   <br />
   
   
<img style="width: 420px; height: 606px;" alt="x"
 src="sustainability/sustainLarge.jpg">

<h4>Commissioned by Seattle Office of Arts and Cultural Affairs and <br />
Sustainable Seattle, a non-profit organization dedicated to increasing awareness of
sustainable practices in Seattle.</h4>

<div class='bold_text'>
  <br />
  <br />

  Sustainability Artwork is an interactive sculpture that teaches
  people&nbsp; about sustainable actions and the benefits of implementing
  those actions.&nbsp; The sculpture is intended to be placed in public
  locations where people can spend some time learning about sustainable
  concepts.
  
</div>

  
<div class='description_text'>
  
  <br />
  <br />
  <br />

</div>
  
  
  <img src="sustainability/ballsClose.jpg">


<div class='description_text'>
  
  <br />
  <br />
    
    Each ball has a sustainable action printed on it. The machine recognizes individual balls via electronic tags
    and displays web pages on the oval-shaped screen that talk about the sustainable concepts underlying
    the sustainable actions printed on the balls.
    
  <br />
  <br />
  <br />

</div>

  <img alt="x" src="sustainability/sustDetail.jpg" style="width: 340px; height: 461px;">

<div class='description_text'>
  
  <br />
  <br />
  
  Together with Sustainable Seattle, we identified five main principles of
  sustainability. A ball, as it makes its way along the path through the machine,
  stops at each principle, and the screen displays information about how that
  principle relates to the sustainable action printed on the ball.

  <br />
  <br />
  <br />

</div>

