<% content_for :title do %>
  <title>Paul Sorey Public Art</title>
  <meta name='description' content='A tree's form is an elegantly succinct metaphor for the
        concept of unity in diversity and for our common ancestry far back in time.' >
<% end %>

   <h1>Tree Bench</h1>

   <h3>Pratt Park<br /> Seattle, WA </h3>
   
   <br />
   
   <div class='photo_index'>
   <a href="../treeBenchVideo.html"> [ Link to Tree Bench Video ] </a>
   </div>
   
   <br />
   
   <img src="treeBench/treeBench1.jpg">

   <h4>Funding Source: Seattle Office of Arts and Cultural Affairs & Seattle Pro Parks Levy</h4>
   
   <br /> 

   <div class='bold_text'>
        <em>Tree Bench</em> is meant to symbolize diverse cultures coming together into a stream of shared humanity.
        The form resembles a large tree sliced in half, or perhaps a river system lifted from its banks.
        Both interpretations represent branching systems containing many small parts that join together
        to form a whole that is greater than the sum of its parts.   
   </div>
   
   <br />
   <br />
   <br />
   
   <img src="treeBench/treeBench3screen.jpg">
   
   <br />
   <br />
   
   <div class='description_text'>
        A tree's form is an elegantly succinct metaphor for the
        concept of unity in diversity and also for the common ancestry of all people far back in time. Park users desired
        recognition of the many cultures present in their
        neighborhood and wished to express good will toward them all.  While representing this unifying theme,
        the artwork invites all visitors to sit down together.
   </div>
   <br />
   <br />
   <br />
   
   <img src="treeBench/treeBench4screen.jpg">
      
   <br />
   <br />
   <div class='description_text'>
        His artworks offer many welcome surprises to the artist as he develops the ideas. Here, the same pieces that make up
        the 'bark' of the tree float on the surface much like logs in a river or cellulose fibers in a tree,
        expressing the reality that a branching system's function is often to convey material from a diffuse source
        to a concentrated destination, or vice versa.

   <br />
   <br />
   <br />
   
   </div>

      
   <img src="treeBench/treeBench5screen.jpg">
      
   <br />
   <br />
    <div class='description_text'>
      
        <!--The artist is fascinated by the ubiquity of branching systems such as rivers, arteries, ancestry and evolution.
        The branched system is a basic organizational structure as fundamental to the universe as integers
        and platonic solids. -->
        
        Because he has often experienced 'Aha!' moments when working with materials, it is essential to his process
        that some elements of the artwork evolve during fabrication. One of the last details to emerge was the treatment
        of the trunk end. Here, as in the dissection of an organism, the further slicing of the tree results in new
        and perhaps surprising knowledge about its interior structure.
        
   </div>

    <br />
    <br />
    <br />
   
    <img src="treeBench/treeBench6screen.jpg">

    <br />
    <br />

    <div class='description_text'>   
        <!--Each artwork has many layers of meaning and exploration for the artist. -->The artwork's concept was easy to
        draw on paper but much thought and experimentation was required to arrive at a method of construction that
        could express the both the bulky and the filigree aspects of 'tree' while maintaining structural integrity throughout.
        The artist often devises a particular structural system and then pushes that system to its limits.
        Here the wide trunk and narrow branches exhibit the large and small limits of this structural system.
        
   </div>
   
    <br />
    <br />
    <br />
  
   <img src="treeBench/treeBench_3876.png">
   
   <br />
   <br />

   <div class='description_text'>
    
        <em>Tree Bench</em> is also an experiment in social behavior.  The artist often thinks of bird behavior
        when observing people interacting.  He is curious to see how people congregate on the
        bench, just as he loves to watch birds adjusting their positions to accommodate each
        other on tree branches.

   </div>
   
   <br />
   <br />
   <br />

