<% content_for :title do %>
  <title>Paul Sorey Public Art</title>
  <meta name='description' content="Tree Bench video segment on Seattle Channel's 'ArtZone' series." >
<% end %>

<% content_for :body_tag do %>
  <body class="tb_video">
<% end %>

    <h1>Tree Bench</h1>
    
    <h3>Pratt Park<br /> Seattle, WA </h3>
    
    <div class='photo_index'>
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" name="scPlayer" width="480" height="380" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="src" value="http://www.seattlechannel.org/videos/player5.swf?config=http://www.seattlechannel.org/videos/videoConfig.asp?ID=4050704" /><param name="allowfullscreen" value="true" /><embed src="http://www.seattlechannel.org/videos/player5.swf?config=http://www.seattlechannel.org/videos/videoConfig.asp?ID=4050704" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="380" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer" name="scPlayer"></embed></object><div style="font-family:arial,verdana;font-size:smaller;"><a href="http://www.seattlechannel.org/artzone"><br />view other Seattle Channel Art Zone videos</a> </div>  <!-- Insert your content here -->
    </div>
    <br /><br /><br />
    
    
