<% content_for :title do %>
  <title>Paul Sorey Public Art</title>
  <meta name='description' content="Tree Bench video segment on Seattle Channel's 'ArtZone' series." >
<% end %>

<% content_for :body_tag do %>
  <body class="tb_video">
<% end %>

    <h1>Tree Bench</h1>
    
    <h3>Pratt Park<br /> Seattle, WA </h3>
    
    <div class='photo_index'>

  <iframe src="http://www.seattlechannel.org/embedvideoplayer?videoid=x53236" frameborder="0" scrolling="no" style="min-height: 270px; min-width: 480px"></iframe>


    </div>

    <br /><br /><br />
    
    
