<% content_for :title do %>
  <title>Paul Sorey Artist is also a Software and Web Developer!</title>
  <meta name='description' content='Paul Sorey combines his artistic vision and his technical
    know-how to make beautiful websites that work.' >
<% end %>
  
  <h1 >Art + Logic</h1>
  <h3 style="font-style: italic;">Software Engineering<br />&<br />Web Development</h3>
  
  <h4> Paul Sorey <br /> Seattle, WA </h4>

   <br />
   <br />


<div class='photo_index'>

 <p>
   <A HREF="http://greenwood.streetscapes.org"><IMG SRC="web-developer/map1thumb.jpg"></A>
   <A class="photo_index" HREF="http://greenwood.streetscapes.org">Greenwood Streetscapes</A>
 </p>
 
 <p>    
    <h4 style='width:500px;'>
    Greenwood Streetscapes is a web-based planning and design tool for
    the Greenwood neighborhood in Seattle. The site will continue to evolve as residents use it to plan
    and implement improvements to their neighborhood.
    </h4>
  </p>
  
    <br />

   
 <p>
   <A HREF="RoadDesignSoftware"><IMG SRC="web-developer/roadworks1thumb.jpg"></A>
   <A class="photo_index" HREF="RoadDesignSoftware">RoadWorks Design Software</A>
 </p>
 
 <p>    
    <h4 style='width:500px;'>
    RoadWorks is a 3-D interactive application that encapsulates the mathematics and
    engineering standards of roadway design, allowing the designer to focus on practical
    and aesthetic issues while manipulating a centerline alignment using the mouse as a
    drawing tool.  </h4>
  </p>
  
    <br />


 <p>
   <A HREF="RainDrums"><IMG SRC="web-developer/drip_plan.jpg"></A>
   <A class="photo_index" HREF="RainDrums">Rain Drums</A>
 </p>
 
 <p>    
    <h4 style='width:500px;'>
    Technical design, fabrication and installation of digitally-controlled water drip
    system to make rhythms. Converts MIDI files to serial signals at the controller which turns on and off
    solenoid valves to create rhythmical drops of water, and winterizes the system in freezing weather

    </h4>
  </p>
  
    <br />

   
   
</div>

