<% content_for :title do %>
  <title>Paul Sorey is a Web Developer!</title>
  <meta name='description' content='Paul Sorey combines his artistic vision and his technical
    know-how to make beautiful websites that work.' >
<% end %>
  
  <h1 >Art + Logic</h1>
  <h3 style="font-style: italic;">Web Development</h3>
  
  <h4> Paul Sorey <br /> Seattle, WA </h4>
  <br />
   
<div class='photo_index'>
  
  <p>
    <a class="photo_index" href="http://greenwood.streetscapes.org">Greenwood.Streetscapes.org</a> 
  </p>    
    <a href="http://greenwood.streetscapes.org"><img src="web-developer/map1thumb.jpg"></a>

    <h4 style='width:420px; bottom-margin: 30px'>
      Greenwood Streetscapes is a web-based planning and design tool for
      the Greenwood neighborhood in Seattle. The site will continue to evolve as residents use it to plan
      and implement improvements to their neighborhood.
      See the code at <a href="https://github.com/psorey/neighbors_maps" > Github </a>,
      especially the ThemeMap functions.
    </h4>


  <p>
    <a class="photo_index" href="#">ZebraTime.com - Online Timesheets</a> 
  </p>    
    <a href="#"><img src="web-developer/ptimesheet2.jpg"></a>

    <h4 style='width:480px; bottom-margin: 30px'>
      Online timesheet that communicates with QuickBooks. My first endeavor with Ruby on Rails, it evolved
      from an office tool for me to keep track of my employee's time and get it into payroll in QB. I continue
      to develop it and plan to add other office organization tools. Currently off-line.
    </h4>


  <p>
    <a class="photo_index" href="http://bba-design.net">bba-design.net</a>
  </p>
    <a href="http://bba-design.net"><img src="web-developer/bba-design_small.jpg"></a>
  
    <h4 style='width:380px; bottom-margin: 50px'>
      Simple website for a graphic designer; she did the graphic design, I implemented the website.
    </h4>


  <p>
    <a class="photo_index" href="http://paulsorey.com">paulsorey.com</a>
  </p>
    <a href="http://paulsorey.com"><img src="web-developer/paulsorey.com.jpg"></a>
  
    <h4 style='width:380px; bottom-margin: 50px'>
      Simple Sinatra website to show off my endeavors. Very satisfying to see how it all ties together, and
      how it doesn't...
    </h4>


</div>

<br />
<br />
<br />
<br />
<br />
<br />

