
  
  <h1 >Art + Logic</h1>
  <h3 style="font-style: italic;">Software Engineering<br />&<br />Web Development</h3>
  
  <h4> Paul Sorey <br /> Seattle, WA </h4>

   <br />
   <br />
   <br />

<div class='photo_index'>

 <p>
   <A HREF="RoadDesignSoftware"><IMG SRC="web-developer/roadworks1thumb.jpg"></A>
   <A class="photo_index" HREF="RoadDesignSoftware">RoadWorks Design Software</A>
 </p>
 
 <p>    
    <h4 style='width:500px;'> RoadWorks is a 3-D interactive application that encapsulates the mathematics and
    engineering standards of roadway design, allowing the designer to focus on practical
    and aesthetic issues while manipulating a centerline alignment using the mouse as a
    drawing tool.  </h4>
  </p>
  
    <br />
    <br />
    <br />
   
</div>

