<% content_for :title do %>
  <title>Paul Sorey and Michael Rainey - ZebraTime -&gt; Online Timesheet talks to QuickBooks</title>
  <meta name='description' content='Paul Sorey / Mike Raney Collaboration' >
<% end %>

<% content_for :body_tag do %>
  <body class="web_dev">
<% end %>

  <h1> Zebra Time </h1>
  <h3> Timesheet Management <br /> QuickBooks Compatible </h3>
  <br />
  
   
  <br />
  <br />
  <br />
   
   
  <div class='bold_text' style='width: 620px;'>
    People come from all parts to see <br />and listen to the Rain Drums. 
  </div>
  
  
  <br />
  <br />
  <br />


  <img src="web-developer/two_drums.jpg">
  <div class='caption' style="width: 400px;">
    <p>
      The system deals with <br />freezing weather, high winds, <br />soil, water and electricity,<br />
      a combination that tests the <br />robustness of the design. 
    </p>
  </div>
     
     
  <br /> 
  <br />
  <br />


  <img src="web-developer/midi5screen.jpg">
  <div class='caption' style="width: 400px;" >
  <p> 
     Two-sided PCB designed with Eagle Printed Circuit Board Design software.
  </p>
  </div>
  
  
  <br />
  <br />
  <br />
   

  <img src="web-developer/controller_guts_small.jpg">
  <div class='caption' style="width: 400px;" >      
    <p>
      High-side switches keep the solenoid valves at zero potential unless activated, minimizing corrosion. A remote
      temperature sensor signals the water system to winterize: shut down and drain when temperature is near freezing. A power
      outage signals a switch to battery power, initiates winterization sequence, then power off.
    </p>
  </div>


  <br />
  <br />
  <br />


  <img src="web-developer/flowChartdetail.jpg">
  <div class='caption' style="width: 400px;" >   
    <p>
      See the code that runs the controller at <a  href="https://gist.github.com/1291805" >Github </a>
    </p>
  </div> 
    
    
  <br />
  <br />
  <br />   

   
  <img src="web-developer/midiPlayer.jpg">
  <div class='caption' style="width: 400px;">      
    <p>
      User interface running on Windows. The software manages the times of operation,
      the playlists, and turns MIDI files into a serial data stream sent to the controller.
    </p>
  </div>


  <br />
  <br />
  <br />  
   

  <div class='block_text'>
  <p>

  </p>
  <p>

  </p>
  <p>

  </p>
  <br />
  <br />

  </div>
  <br />
  <br />
  <br />