<% content_for :title do %>
  <title>Paul Sorey and Michael Rainey - ZebraTime -&gt; Online Timesheet talks to QuickBooks</title>
  <meta name='description' content='Paul Sorey / Mike Raney Collaboration' >
<% end %>

<% content_for :body_tag do %>
  <body class="web_dev">
<% end %>

  <h1> ZebraTime </h1>
  <h3> Timesheet Management <br /> QuickBooks Compatible </h3>
  
  <br />

   
  <div class='bold_text' style='width: 620px;'>
    ...and learning web development<br /> with Ruby on Rails. 
  </div>
   
  <br />
  <br /> 
  

  <div class='block_text' style='width: 500px;' >
    <p>

      I was new to web applications but was interested in the timesheet project, partly because I had an employee
      and could use it for my business, and partly because I wanted to learn to write software for the web.
      Mike writes web apps in Java so he dove right in. While I thought Java would be easy to learn with my
      C++ background, I scanned the web for the latest and best in web development; it was not long before
      Rails won me over...
    </p>
    <p>
      I was intrigued by the Ruby language, and immediately impressed with the amount of helpful information
      available on the web. I studied in earnest, applying what I learned to the timesheet app. We each worked hundreds of
      hours in our spare time. By the end of the year I had some grasp of what I was doing and each of us
      were at a similar point in development. And it was clear that Rails had made it easy for me to do things
      Mike had spent hours with in Java.
    </p>
   </div>    
  
  <br />
  <br /> 
  
  <img src="web-developer/ptimesheet1mod.jpg">
  <div class='caption' style="width: 400px;">
    <p>
      Screenshot of timesheet_weeks view.
    </p>
  </div>    
  
  <br />



  <div class='block_text' style='width: 500px;' >


    <p>
      Because he's a good friend and a nice guy, Mike agreed to learn Rails and started
      working with me on the Rails version of the timesheet; in a few months we had the timesheet up and running
      on a server (see screenshot). After a two-year hiatus we are diving back into the project, to build our chops,
      and perhaps get more serious about a business plan.
    </p>
    </p>
      When working on the schema I thought I had a pretty good handle on 3-Normal database design; 
      coming back to it now I see it needs a lot of work... We will be refactoring everything and
      building a test suite.
    <p>
  <br />
  </div>
  <a href="http://www.westseattleherald.com/2011/04/08/news/slideshow-wayfinding-kiosks-going-around-west-sea">
      <img src="web-developer/paul_mike_wayfinding_installation.jpg">
  </a>  
  <div class='caption' style="width: 400px;">
    <p>
      Mike and I have worked on other projects together, too. <a href="http://www.westseattleherald.com/2011/04/08/news/slideshow-wayfinding-kiosks-going-around-west-sea">West Seattle Wayfinding Kiosks - West Seattle Herald Article </a>
    </p>
    
  </div>    
  
  <br />
  
  <br />
  <br />
  <br />
  <br />
